<div id="chart">
    <apx-chart
      [series]="series"
      [chart]="chart"
      [dataLabels]="dataLabels"
      [plotOptions]="plotOptions"
      [yaxis]="yaxis"
      [xaxis]="xaxis"
      [stroke]="stroke"
      [grid]="grid"
      [fill]="fill"
      [annotations]="annotations"
    ></apx-chart>
  </div>

  <div id="chart2">
    <apx-chart
      [series]="series2"
      [chart]="chart2"
      [xaxis]="xaxis2"
      [stroke]="stroke2"
      [tooltip]="tooltip2"
      [dataLabels]="dataLabels2"
      [legend]="legend2"
      [markers]="markers2"
      [grid]="grid2"
      [yaxis]="yaxis2"
      [title]="title2"
    ></apx-chart>
  </div>